{% extends "bootstrap/base.html" %}

{% block title %}Produse{% endblock %}
{% block content %}
<h3>Produsul</h3>
<table class="table table-striped table-bordered table-condensed table-hover" border="1">
	<thead>
		<th>Id</th>
		<th>Nume</th>
		<th>Pret</th>
	</thead>	
	<tr>	
		<td>{{ product.id }}</td>
		<td>{{ product.name }}</td>
		<td>{{ product.price }}</td>
	</tr>
	
</table>
<br>
<h4>Editare informatii produs<br>
	<small>Introduceti noile date:</small></h4>
<form class="form form-horizontal" role="form" method="post">
	<input name = "name" value = '{{ product.name }}'>
	<input name = "price" value = '{{ product.price }}'>
	<button class="btn btn-primary btn-sm" type = "submit">Change</button>
</form>
<br>
<br>
<form action="/">
	<button class="btn btn-primary btn-sm" type= "submit">Home</button>
</form>

{% endblock %}
