{% extends "bootstrap/base.html" %}
{%for message in get_flashed_messages() %}
	<b><font color='green'>{{ message }}</font></b>
{% endfor %}

{% block title %}Produse{% endblock %}
{% block content %}
<table border="1">
	<thead>
		<th>Nume</th>
		<th>Pret</th>
		<th>Edit</th>
		<th>Delete</th>
		
	</thead>

{%for product in product_list %}
	<tr>
		<td>{{ product.name }}</td>
		<td>{{ product.price }}</td>
		<td><a href="/edit/{{ product.id }}">Edit</a></td>
		<td><a href="/delete/{{ product.id }}">Delete</a></td>
		<br>
	</tr>


{% endfor %}
</table>
<br><br>
Adaugare produs nou:
<br>

<form class="form form-horizontal" role="form" action="/save", method="post">
	<input name = "name">
	<input name = "price">
	<button type = "submit">save</button>
</form>
{% endblock %}
